body {
    background-color: brown;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
}

marquee {
    font-size: xx-large;
    color: chartreuse;
}

a {
    color: aliceblue;

}

img {
    padding-top: 20px;
    padding-right: 1.5em;
    padding-left: 20%;
    height: 500px;
    width: 700px;
}

.classOne {}

#idOne {}